---
layout: page
title: 태그
permalink: /pages/tags/
---

{% assign tags = site.tags | sort %}
<div class="tag-index">
  {% for tag in tags %}
    <section class="tag-section" id="tag-{{ tag[0] | slugify }}">
      <h2>#{{ tag[0] }}</h2>
      <ul>
        {% for post in tag[1] %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</div>
